# PyCharm
.idea

# Python
venv

# Raw files
System*.mat

# Latex
*.aux
*.bbl
*.blg
*.bcf
*.dvi
*.log
*.toc
*.tps
*.run.xml
*.fdb_latexmk
*.fls
*.lof
*.lot
*.asc
*.synctex.gz

*.bib.bak
*.bib.sav

*-eps-converted-to.pdf
tex/main.pdf
*.out